  <div class="consultoptions body">
    <div class="card scroll-cards-height">
             <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="assets/doctor.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold"><h2>Doctors</h2></a></h6>
                  <!--Text-->
                  <p class="card-text" align = "justify"> Consult with Hospital doctors who diagnose and treat medical conditions, disorders, and diseases through the application of specialist medical skills and knowledge.</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                      <LinkTo @route="consult" @model="doctor"><button type="button">Consult with doctor</button></LinkTo>
                    </span>
                   </div>
                </div>

                  </div>

              </div>

     </div>

              <!-- Card -->

    <div class="card scroll-cards-height">
             <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="assets/engineer.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold"><h2>Engineers</h2></a></h6>
                  <!--Text-->
                  <p class="card-text"> high end engineers with qualifications in specialised background, and wide experience, can plan, design, supervise and help in undertaking maintenance of any type of issue according to the needs of the client.</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                      <LinkTo @route="consult" @model="Engineer"><button type="button">Consult with Engineer</button></LinkTo>
                    </span>
                   </div>
                </div>

                  </div>

              </div>
      </div>
              <!-- Card -->
    <div class="card scroll-cards-height">
             <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="assets/auditor.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold"><h2>Auditor</h2></a></h6>
                  <!--Text-->
                  <p class="card-text"> A quality audit is a part of the quality management system for an organization. It is also an element of ISO 9001 - an ISO quality system standard.</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                    <LinkTo @route="consult" @model="auditor"><button type="button">Consult with Auditor</button></LinkTo>                    
                 </span>
                   </div>
                </div>

                  </div>

              </div>
    </div>
              <!-- Card -->
     <div class="card scroll-cards-height">
             <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="assets/lawyer.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold"><h2>lawyer</h2></a></h6>
                  <!--Text-->
                  <p class="card-text">  find the best Lawyers in your city because all your legal requirements deserve the best so that you don’t regret later. Whether you are drafting your will, buying/selling real-estate, getting a divorce or any other legal need-Hiring the best Lawyer can be intimidating. We want to make your legal experience less stressful by giving you a bunch of choices so that you can choose the best and leave the rest to destiny.</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                    <LinkTo @route="consult" @model="lawyer"><button type="button">Consult with Lawyer</button></LinkTo>                    
                    </span>
                   </div>
                </div>

                  </div>

              </div>
    </div>
              <!-- Card -->
     
</div>