    <div class="card scroll-cards-height">
             <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="../../../../public/assets/doctor.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold">Title</a></h6>
                  <!--Text-->
                  <p class="card-text">My description</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                       46464
                    </span>
                   </div>
                </div>

                  </div>

              </div>

              <!-- Card -->
      
      <!-- Card -->

              <div class="card mb-4 mr-2 ml-2">
                <div class="card-horizontal pt-1 mb-1 ml-1">
                <!--Card image-->
                <div class="view overlay">
                                         
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                            <a href="#" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                          </a>

                 </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h6 class="card-title"><a class="text-danger" style="font-weight:bold">Title</a></h6>
                  <!--Text-->
                  <p class="card-text">My description</p>
                 
                        <a href="#" class="stretched-link" target="_blank"></a>
                    
                   <div class="card-footer">
                    <span class="float-left ml-n4">
                      <a class="mr-1" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-clock grey-text ml-3"></i>
                      </a>
                       46464
                    </span>
                   </div>
                </div>

                  </div>

              </div>

              <!-- Card -->

          </div>
          <!--/.Card-->